@use "@picocss/pico/scss/pico" with (
// Define the root element used to target <header>, <main>, <footer>
// with $enable-semantic-container and $enable-responsive-spacings
$semantic-root-element: "#root",

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true,

 // Enable .classes
$enable-classes: true,

// Choose primary color
$theme-color: "azure"
);

$square-height-default: 50vh / 3;
$square-height-lg: 80vh / 3;

.grid {
  display: flex;
  justify-content: space-between;
  min-height: $square-height-default;
}

@media (min-width: 1024px) {
  .grid {
    min-height: $square-height-lg;
  }
}

.grid > * {
  flex: 1;
}

.game {
   display: grid;
}

@media (min-width: 1024px) {
  .game {
     grid-template-columns: 2fr 1fr;
  }
}

.board-row {
  margin-top: 20px;
}

.game-info {
  justify-self: start;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .game-info {
    justify-self: end;
    margin-top: auto;
  }
}
